<launch>
<!---file $(find polaris_v2)/urdf/polaris_v2.urdf -urdf -model polaris_v2-->
<!--Urdf file path-->
  <param name="robot_description" textfile="$(find polaris_v2)/urdf/polaris_v2.urdf"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.242"/>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />  
  
<!--spawn a empty gazebo world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
  </include>
    
<!--spawn model-->
  <node 
    name="spawn_urdf" 
    pkg="gazebo_ros" 
    type="spawn_model" 
    respawn="false" 
    output="screen" 
    args="-urdf -model polaris_v2 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"/>  
  
  <rosparam file="$(find polaris_v2)/config/linear_controller.yaml" command="load"/> 
  
  <!--lineer motro kontrolcülerini launch dosyasına çağpırmak için kullanılmıştır-->
  <node name="linear_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller Lifting_Joint_position_controller " />

  <!-- Joint State Publisher düğümünü ekleme -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen"/>


<!-- Robot State Publisher for TF of each joint: publishes all the current states of the joint, then RViz can visualize -->	
  <node name="robot_state_publisher"  pkg="robot_state_publisher"  type="robot_state_publisher" respawn="false" output="screen"/>
    
</launch>
